<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PYInterflow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pyinterflowa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>155DE3BF1DEEBE2D007CD6BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1583E0701DFA7DE800AD48EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1583E07D1DFA7E2800AD48EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15996E64220E744C00BF3365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
